.header {
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    margin: 0;
}

.main {
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f9fa; /* Color de fondo claro */
}
