.menu {
    padding: 20px;
    text-align: center;
}

.navbar {
    margin-bottom: 20px;
}

.navbar a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menuSections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    margin: 20px 0;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.price {
    font-weight: bold;
    color: green;
}
